.patient-list-container {
  margin-top: 20px;
  padding: 0px 25px 0px 25px;
  background-color: white;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px 0px 15px;
  color: grey;
  font-size: 1.4rem;
  border-bottom: solid  rgb(231, 225, 225) 2px;
}

.patient-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}


.patient-item {
  display: flex;
  justify-content:space-between;
  padding: 15px;
  border-top: none ;
  border-left: none ;
  border-right: none ;
  align-items: center;
  background-color: white;
  transition: border 0.3s ease;
}


.patient-item:hover {
  transform: scale(1.002);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.icon-button:hover{
  border: 3px solid rgb(172, 226, 244);
  border-radius: 50%;
  background-color: rgb(226, 244, 250) ;
}


.patient-info {
  display: flex;
  align-items: center;
  background-color: none;
  border: none;
  padding: 15px !important;
  margin: 5px !important;
  gap: 15px;
  border: none !important;
}

.patient-icon {
  background-color: grey;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 15px;
  font-weight: bold;
  border: none;
  padding: 0;
}

.patient-name {
  font-weight:normal;
  margin-right: 10px;
  border: none;
  margin: 0;
}

.patient-gender {
  font-weight: lighter;
  font-size: 0.9rem;
  color: grey;
  border: none;
  padding: 0;
  margin: 0;
}

.patient-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width:450px
}

.icon-button {
  background: white;
  border: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 70px;
}

.icon-button_2 {
  background: white;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 70px;
}

.icon-button img {
  width: 45px;
  height: 43px;
}

.icon-button_2 img{
  width: 50px;
  height: 43px;
}

.status-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  flex-shrink: 0;
}

.status {
  font-size: 1.2rem;
  margin-right: 10px;
  color: grey;
  font-weight:lighter;
  white-space: nowrap;
  flex-grow: 1;
}

.status-dot.completed {
  background-color: green;
}

.status-dot.sent {
  background-color: yellow;
}

.status-dot.expired {
  background-color: red;
}

.status-dot.pending {
  background-color: orange;
}

.bio {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.patient-gender{
  font-size: 1.2rem;
  padding-top: 3px;
}

.patient-info img {
  height: 45px !important;  
  width: 45px !important;  
  object-fit: cover; 
  border-radius: 50%; 
}

.circle {
  width: 75px;          
  height: 75px;         
  background-color: #f04e32;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;   
  color: white;
}

.patient-actions .contact {
  display: flex;
  gap: 30px;
}

.status-cont {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 150px;
}
