.patient-stats {
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 0px 50px 0px 50px;
    text-align: left;
    display:flex;
    width: 550px
  }

  .stat-card-2 {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 20px 50px 100px 50px;
    text-align: left;
    display:flex;
    flex-direction: column;
    width: 550px;
    color: white;
  }
  
  .stat-card h3 {
    font-size: 2rem;
    margin: 0;
  }

  .stat-card-2 h3{
    font-size: 2rem;
    margin: 0;
  }
  
  .stat-card h1 {
    font-size: 8rem;
  }

  .stat-card-2 h1 {
    font-size: 4rem;
  }
  .stat-card p {
    margin: 0;
    color: #666;
    font-size: 2rem;
  }
  
  .stat-card-2 button {
    display: flex;
    padding: 15px 10px 15px 55px;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.7rem;
    width:300px;
    align-items: center;
  }

  .stat-card img{
    width: 75%;
    height:75%;
    padding: 10px 10px 20px 30px;
  }

  