
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #fbfafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 3px 2px 1px;
    z-index: 1;
    border-right: 2px solid rgb(220, 215, 215);
  }
  
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
    width: 65%;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    background-color: #fbfafa;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    text-align: center;
    border:none;
  }
  
  .nav-item:hover {
    cursor: pointer;
    transform: scale(1.1);
  
  }
  
  .icon {
    margin-right: 0;
  }

  .nav-item .patient {
    height: 80px;
    width: 80px;
    
  }

  .nav-item .option{
    width: 70px;
    height: 70px;
  }

  .nav-item .medic{
    width: 90px;
    height: 55px;
  }


  